*.a
*.dll
*.la
*.lo
*.log
*.m4
*.o
*.so
*.tmp
.deps/
.libs/
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/lib/marisa2/version.h
/libtool
/ltmain.sh
/marisa2.pc
/missing
/src/marisa2
/src/marisa2.exe
/test/*-test
Makefile
Makefile.in
