*.a
*.dll
*.exe
*.la
*.lo
*.log
*.m4
*.o
*.so
.deps/
.libs/
/autom4te.cache/
/config.*
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/marisa2.pc
/missing
/tests/test
/tools/tool
Makefile
Makefile.in
